{% extends "ace/base.html" %} {% load i18n %} {% load crispy_forms_tags %} 

{% block title %} Aircraft - {{ block.super }} 
{% endblock title %} 

{% block header %}
        <script>
         $(function() {
            var data = JSON.parse('{{ jsonData|safe }}');
            autoComplete = [];
                for (var i = 0, len = data.length; i < len; i++) {
                    autoComplete.push(data[i].iata + ", " + data[i].name);
                }
                $( "#id_from_airport" ).autocomplete({
                    source: autoComplete,
                    minLength: 3
                });
                $( "#id_to_airport" ).autocomplete({
                    source: autoComplete,
                    minLength: 3
                });
         });
        </script>

{{ block.super }}
{% endblock header %}

{% block content %}

<body>
    <h4>Create a new Aircraft Availability Request</h4>
    <h4>Empty Leg / Charter Flight / Schedule Flight</h4>
    <form method="post" class="form-style-9">
        {% csrf_token %} {{ form|crispy }}
        <input type="submit" value="Post to the community" class="btn btn-warning" />
    </form>

</body>

{% endblock content %}
